/*
.cart img {
    width: 40%;
}

.cart {
    width: 10em;
    height: 5em;
    position: absolute;
    right: 10em;
}

.cart p {
    margin-top: 1.5em;
    display: inline-block;
    font-weight: bold;
}
*/

#input-search {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cart a {
    display: flex;
    flex-direction: row;
    align-items: center;
}