<div>
    <h2>There are {{totalArtWorks()}} art works in stock.</h2>
    <div class="input-browser">
        <p>Search an art work by name</p>
        <input type="search" maxlength=26 placeholder="Search an art work" [(ngModel)]="artWorkFilter">
        <ul>
        </ul>
    </div>
</div>
<div>
    <section *ngFor="let artWork of myArtWorks | search:artWorkFilter" [class.selected]="artWork.selected">
        <img [src]="getImage(artWork)" height="200" width="200" />
        <h2>{{artWork.name | uppercase}}</h2>
        <p>{{artWork.type}}</p>
        <p>{{artWork.medium}}</p>
        <p>{{artWork.description}}</p>
        <div>
            <button (click)="decreaseQuantity(artWork)" [disabled]="artWork.quantity === 0">-</button>
            <input type="number" maxlength="2" placeholder="0" class="amount" [(ngModel)]="artWork.quantity" />
            <button (click)="increaseQuantity(artWork)" [disabled]="artWork.stock === 0">+</button>
            <!-- <input type="text" (keydown)="showKey($event)" />
            <h2 (mouseover)="getCoord($event)">Hover Me</h2> -->
        </div>
        <p *ngIf="artWork.stock > 0">{{artWork.stock}} in stock</p>
        <p *ngIf="artWork.stock === 0">Out of Stock</p>
        <p>{{artWork.price | currency:'USD':true}}</p>
        <p *ngIf="artWork.price === 0.0">Unsaleable</p>
    </section>
</div>