<div *ngIf="!order.ordered">
    <div id="apps">
        <app-cart></app-cart>
    </div>
    <app-shipping-information (shippingInformation)="getShippingInformation($event)"></app-shipping-information>
    <div class="total-amount">
        <p>Total amount: {{totalAmount()}}</p>
    </div>
    <div>
        <br><br>
        <button routerLink="/art-gallery" routerLinkActive="active">Cancel operation</button>
    </div>
</div>
<div *ngIf="order.ordered">
    <h4>Your shooping dates:</h4>
    <label>Name: </label>
    <p>{{shippingInformation.name}}</p>
    <label>Address: </label>
    <p>{{shippingInformation.address}}</p>
    <label>Email: </label>
    <p>{{shippingInformation.email}}</p>
    <label>Total amount: </label>
    <p>{{totalAmount()}}</p>
</div>