    body {
        background-color: #E0F2F1;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    h1 {
        color: #004D40;
    }
    
    h2 {
        color: #00695C;
    }
    
    h3 {
        color: #00796B;
    }

    button{
        background-color: #33691E;
        border: 1px solid #000000;
        border-radius: 5px;
        cursor: pointer;
        padding-left: 15px;
        padding-right: 15px;
        color: #000000;
    }

    ul{
        display: flex;
        justify-content: center;
    }

    ul li {
        box-shadow: 0px 2px 10px #ccc;
        list-style: none;
        display: inline-block;
        padding: 10px;
        margin: 10px;
        width: 20em;
        border-radius: 10px;
        border: 7px solid #9CCC65;
    }

    ul li img {
        width: 100%;
        border-radius: 2px;
    }

    ul li:hover {
        box-shadow: 0px 2px 20px #ccc;
        border: 5px solid #1B5E20;
    }

    ul li.selected{
        box-shadow: 0px 2px 20px grey;
        border: 2px solid grey;
    }

    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button{
        -webkit-appearance: none; 
    }

    input {
        text-align: center;
    }